.about-hero{
    padding-top: 96px!important;
    padding-bottom: 96px!important;
    width: 100%;
    background-color:#ffffff;
    .what-us{
        p:first-child{
            font-size: 2.5rem;
        }
    }
}

.container{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}